/* Global reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

/* Global styles */

body {
  font-family: Arial, sans-serif;
}
